* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Trajan_Pro_Bold";
  src: url("../fonts/Trajan_Pro_Bold.ttf") format("truetype");
}

:root,
html {
  font-family: Roboto, "Times New Roman", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #c59601;
  --colorSecondary: #067dac;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorLightGray: #f5f5f5;
}

/* Navbar Starts */
header {
  height: 80px;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* Navbar Ends */

main {
  margin-top: 80px;
}

/* Slider */
.carousel {
  overflow: hidden !important;
  max-height: calc(100vh - 80px);
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/mobile_banner1.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/mobile_banner2.jpg");
  }
  .carousel-item .banner3 {
    content: url("../img/banners/mobile_banner3.jpg");
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--colorPrimary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  margin: 20px;
  /* display: none; */
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

/* Overview */

.overview_img_wrapper {
  border-radius: 20px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.overview_img_wrapper .overview_img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.overview_img_wrapper .overview_img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.highlights-section {
  text-align: justify;
}

.text-left {
  text-align: left !important;
}
.highlights-list li {
  list-style: none;
  font-weight: bold;
  text-transform: capitalize;
}
.highlights-list i {
  color: var(--colorSecondary);
}

/* gallery */

#gallery_section .row {
  --bs-gutter-y: 1.5rem;
}

.gall {
  border: 3px dotted var(--colorPrimary);
  border-radius: 20px;
  padding: 7px;
  background-color: #f1f1f1;
  box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
  /* box-shadow: rgba(100, 100, 111, 0.726) 0px 7px 29px 0px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.gall img {
  border-radius: 20px;
  aspect-ratio: 4/3;
}
.gall:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.gall:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  border: 3px solid var(--colorSecondary);
}
/* gallery ends */

/* .pricing-section  */
.pricing-section {
  padding: 4rem 0;
  background-color: var(--colorLightGray);
}

.pricing-section .floor-img {
  border: 2px solid var(--colorPrimary);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.pricing-section .at-property-dis {
  border-radius: 10px;
}

/* amenities */
.amenities_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure.snip1113 {
  /* font-family: 'Raleway', Arial, sans-serif; */
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 310px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  figure.snip1113 {
    min-width: 90%;
    max-width: 100%;
  }
}

figure.snip1113 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1113 img {
  max-width: 90%;
  margin: 20px auto;
  display: block;
  position: relative;
  border: 3px solid var(--colorSecondary);
  /* padding: 15px 15px 65px 15px; */
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}

figure.snip1113 figcaption {
  position: absolute;
  height: 80px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
}

figure.snip1113 h3 {
  background-color: #ffffff;
  color: var(--colorPrimary);
  font-size: 1.2em;
  width: 100%;
  padding: 5px 12px;

  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1113 h3 span {
  font-weight: 800;
}

figure.snip1113 h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  opacity: 0.6;
  font-size: 1.1em;
}

/* Location Features */

.location_features_section .locaton-features {
  font-size: 1.2rem;
}
.location_features_section .locaton-features i {
  color: var(--colorSecondary);
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .location_features_section .nav-item {
    width: 100%;
    text-align: center;
  }
}

/* About */
#about_section {
  background-color: var(--colorSecondary);
  /* background: url("../img/extras/layer01.jpg") repeat #272727; */

  background-repeat: repeat;
  /* background-size: cover; */
  /* height: 970px; */
  background-attachment: fixed;
  padding: 0 !important;
}

.about_overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

#about_section .sub-heading {
  color: var(--colorPrimary);
  font-size: 1.5em;
}

#about_section .sub-heading {
  letter-spacing: 3.5px;
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding: 5px 10px;
  color: var(--colorWhite);
}

.form-label {
  display: none;
}
.inputStyle {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
}
.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorPrimary) !important;
  border: none !important;
  color: var(--colorWhite) !important;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

/* Footer */
.policy_links a {
  color: var(--colorSecondary) !important;
  text-decoration: none;
}
